*{
    margin:0; /*quitat padding y margen automáticos*/
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inconsolata', monospace;
}
h1, h2, h3, h4, h5, h6{
    color:slateblue;
    font-weight: 300;
}

.container{
    width: 80%;
    max-width: 1000px;
    margin: auto; /*para centrar todo container*/
    overflow: hidden; /*evitar el scroll bar y nos corta o esconde*/
}

.container1{
    width: 80%;
    max-width: 1000px;
    margin: auto;
    padding: 60px 0;
    overflow: hidden;
}

h1{
    font-size: 50px;
}

/* Header */
/*  
    seccion 
    .etiqueta
*/

body{
    background-color: rgb(25, 29, 37);
}

header::before{
    /*Para que al quedar fijo el Nav el resto empieze 80px por debajo 
    y no perder info, por eso creamos un elemento ficticio "block"*/
    content: "";
    display: block;
    margin-bottom: 80px;
}

nav{ /*Para la parte donde esta la imagen y los links*/
    width: 100%; /*Nuestro nav ocupará de lado a lado*/
    height: 80px; /*Nuestro nav ocupará 80px de alto*/
    background-color: black;/* background-color: rgb(58, 24, 76); */
    /*Borde del nav de color*/
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(106, 90, 205, .8);
    /*Nav transicion para que se esconda*/
    transition: ease-in-out 0.5s;
    position: fixed;
    top: 0;
    z-index: 100;
}

.nav{
    display: flex; /*poen todo en una misma fila, lo que esta dentro de la etiqueta nav*/
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
}

.nav .logo{
    height: 80px;/*reducir tamaño logo*/
}

.nav .logo img{
    height: 100%;/*mantener proporcion de logo*/
    vertical-align: top;
}
.nav .enlaces-header{
    align-content: flex-end;
}

.enlaces-header{
    font-weight: 300;
}

.nav .enlaces-header a{
    color: whitesmoke;
    margin-left: 20px;
    text-decoration: none; /*Para quitar el subrayado de los links*/
}

.hamburguer{
    width: 80px;
    height: 80px;
    display: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    /* transition: color 0.5s ease-in; */

}
.hamburguer > i{
    font-size: 30px;
    line-height: 80px;
    color: whitesmoke;
}

.content-header{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-header > img{
    width: 500px;
    animation: ease-in animation_scale 1s;
}

@keyframes animation_scale{
    0%{
        transform: scale(0);
    }100%{
        transform: scale(1);
    }
}

.textos-header{
    margin: 0px 0px 0px 30px; 
}
.content-header p{
    font-weight: 100;
    margin-top: 10px;
    color: whitesmoke;
}
.content-header a{ /*al ser un elemento de linea no tiene margenes ni nada, por eso ponemos el display, para aplicarle el resto de margin y width*/
    margin: 30px 0 0 ; /*30px arriba, 0px der, 0px abajo, 0px izq*/
    width: 130px;
    display: inline-block;
    background: rgb(41, 198, 135);
    text-align: center;
    color: whitesmoke;
    padding: 12px 0;/*padding de 12px arriba y abajo, y 0 a los lados*/
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(106, 90, 205, .8);
    text-shadow: slateblue;
}

.titulo{
    font-size: 50px;
}

.about-us{
    background: rgb(33, 49, 62);
    box-shadow: 1px 1px 10px 0 rgba(24, 21, 41, 0.8);
}

.container-articulo{
    margin-top: 15px;
    display: flex; /*Te los coloca todos en una misma linea*/
    flex-wrap: wrap; /*Si no caben te los pasa a la siguiente linea*/
    margin-top: 60px;
    justify-content: space-around;
}

.articulo{
    width: 29%;
    background: rgb(56, 27, 56);
    margin-bottom: 30px;
    border-radius: 15px;
    padding: 45px 30px 60px 30px;
    transition: 1;
}
.articulo:hover{
    box-shadow: 0px 4px 10px rgba(24, 21, 41, 0.8);
}

.articulo > i{
    color: whitesmoke;
    font-size: 30px;
    /*Crear bloque*/
    background-color: slateblue;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center; /*Centramos el Icono*/
    padding-top: 10px; /*Centramos en verical el icono*/
    border-radius: 50%; /*Truco para hacer que la box nos quede redonda*/
    box-shadow: 0px 8px 32px rgba(24, 21, 41, 0.8);;
}
.articulo > h3{
    margin-top: 24px;
    font-size: 28px;
    font-weight: 500;
}
.articulo > p{
    font-weight: 100;
    color: whitesmoke;
    margin-top: 15px;
    font-size: 14px;
    padding-bottom: 20px;
}
.articulo > a{
    margin: 20px 0 0 ; /*30px arriba, 0px der, 0px abajo, 0px izq*/
    width: 130px;
    color: rgb(41, 198, 135);
    padding: 12px 0;/*padding de 12px arriba y abajo, y 0 a los lados*/
    font-weight: 400;
    font-size: 14px;
}
.articulo > a:hover{
    color: slateblue;
    transition: 0.2s;
}



